@CHARSET "UTF-8";

.detail, .write {
	width: 709px;
	margin-right: 3px;
	display: inline-block;
	
	/*
		border: 1px solid
		border: 1px dotted
		border: 1px dashed
	*/
	border: 1px solid #DDDDDD;
}

.write > h1, .detail > h1 {
	text-align: center;
}

.write > hr, .detail > hr {
	border: 1px dashed #DDD;
	width: 589px;
}

.write > .author, .write > p, .write > .controls, .detail > .author, .detail > p, .detail > .controls {
	margin: 0 auto;
	width: 579px;
	padding-left: 10px;
}

.write > p, .detail > p {
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 10px;
	background-color: #F4F4F4;
}

.write > .controls, .detail > .controls {
	padding-bottom: 10px;
}












