@CHARSET "UTF-8";

.write {
	text-align: center;
}

.write > form > input[type=text] {
	padding: 5px;
	width: 579px;
} 

.write > form > textarea {
	margin-top: 3px;
	padding: 5px;
	width: 579px;
	height: 300px;
}

.write > form > div {
	margin: 0 auto;
	margin-bottom: 10px;
	width: 579px;
	text-align: right;
}







