<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>board3</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ViewSignInServlet</display-name>
    <servlet-name>ViewSignInServlet</servlet-name>
    <servlet-class>com.board3.user.web.ViewSignInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewSignInServlet</servlet-name>
    <url-pattern>/user/signIn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewSignUpServlet</display-name>
    <servlet-name>ViewSignUpServlet</servlet-name>
    <servlet-class>com.board3.user.web.ViewSignUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewSignUpServlet</servlet-name>
    <url-pattern>/user/signUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoSignInActionServlet</display-name>
    <servlet-name>DoSignInActionServlet</servlet-name>
    <servlet-class>com.board3.user.web.DoSignInActionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoSignInActionServlet</servlet-name>
    <url-pattern>/user/doSignIn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoSignUpActionServlet</display-name>
    <servlet-name>DoSignUpActionServlet</servlet-name>
    <servlet-class>com.board3.user.web.DoSignUpActionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoSignUpActionServlet</servlet-name>
    <url-pattern>/user/doSignUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoSignOutActionServlet</display-name>
    <servlet-name>DoSignOutActionServlet</servlet-name>
    <servlet-class>com.board3.user.web.DoSignOutActionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoSignOutActionServlet</servlet-name>
    <url-pattern>/user/signOut</url-pattern>
  </servlet-mapping>
</web-app>