<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>book</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>doWriteActionServlet</display-name>
    <servlet-name>doWriteActionServlet</servlet-name>
    <servlet-class>com.ktds.jgu.book.web.doWriteActionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>doWriteActionServlet</servlet-name>
    <url-pattern>/write</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>doDetailActionServlet</display-name>
    <servlet-name>doDetailActionServlet</servlet-name>
    <servlet-class>com.ktds.jgu.book.web.doDetailActionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>doDetailActionServlet</servlet-name>
    <url-pattern>/detail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>doModifyActionServlet</display-name>
    <servlet-name>doModifyActionServlet</servlet-name>
    <servlet-class>com.ktds.jgu.book.web.doModifyActionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>doModifyActionServlet</servlet-name>
    <url-pattern>/modify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListServlet</display-name>
    <servlet-name>ListServlet</servlet-name>
    <servlet-class>com.ktds.jgu.book.web.ListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListServlet</servlet-name>
    <url-pattern>/list</url-pattern>
  </servlet-mapping>
</web-app>